https://{$DOMAIN_NAME} {
    proxy / eve:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        except /wskwork/results /static
    }

    log stdout
    errors stdout
    gzip
}
