a.button {
    text-decoration: none;
    border-radius: 4px;
    padding: 1px;
}

.current {
    font-weight: bold;
}

div {
    margin: 2px 4px 2px 12px;
}

div#wrapper {
    margin: 60px 4px 2px 12px;
}

div.side-window {
    max-width: 85%;
}

div#side-window-container {
    left: 70%;
    position: fixed;
    border-style: dashed;
    border-width: 1px;
    min-height: 90%;
    width: 25vw;
    max-width: 25%;
    min-width: 25%;
    padding: 10px;
    margin: 10px;
}

div.subform-group {
    padding: 2px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

div.ui-element {
    background: rgba(0, 0, 0, 0.05);
    padding: 4px 4px 4px 16px;
    border-radius: 4px;
    min-width: 30px;
}

input {
    max-width: 100%;
}



textarea.main-form-input {
    border-color: lightgray;
    border-width: 1px;
}

/* All noselect styles */
a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h4 {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

#auth-window {
  position: absolute;
  top: 7%;
}

/*home page styles*/
#help-window {
    font-size: 125%;
    position: absolute;
    top: 2%;
}

#help-window-text {
    position: absolute;
    font-size: 90%;
    top: 7%;
}

#load-file-window {
    position: absolute;
    bottom: 6%;
}

#playbill-form {
    max-width: 65%;
}

#reset-form-button {
    position: absolute;
    bottom: 54%;
}

#reset-after-post {
    display: none;
}

#save-file-window {
    position: absolute;
    bottom: 24%;
}

#status-message-window {
  position: absolute;
  bottom: 60%;
}

#upload-file-window {
    position: absolute;
    bottom: 42%;
}

/*search page styles*/
button.accordion {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-family: serif;
    font-size: 16px;
    text-indent: 12px;
    padding: 12px;
    width: 100%;
    text-align: left;
    border: none;
    margin: 2px;
    outline: none;
    border-radius: 4px;

}

button.accordion:after {
    float: right;
    padding-top: 2px;
    content: '\02795';
    color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
}

button.accordion.active:after {
    content: '\2796';
    float: right;
    font-size: 10px;
}

div.panel {
    padding: 0 14px;
    background-color: white;
    display: none;
}


div.panel li {
    list-style: none;
    width: 50%;
    margin-bottom: 2px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 18px;
}

li a:active,
li a:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0px 4px 20px 0px;
    padding 0;
    background: #f1f1f1;
}

#clear-window {
    position: absolute;
    top: 50%;
    width: 210px;
}

#date-search {
  display: none;
}


.nav-pages-window {
    text-align: center;
    width: 65%;
}

#search-filter h4 {
    text-align: center;
}

#search-filter {
    padding: 2px 10px 30px 10px;
    width: 50vw;
    border-radius: 4px;
    max-width: 65%;
    margin-top: 12px;
    margin-left: 42px;
}

#search-results {
    width: 50vw;
    max-width: 65%;
    font-size: 14px;
}

#search-results a:link,
#search-results a:visited {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#search-results a:hover,
#search-results a:active {
    color: #0000EE;
}

#search-window {
    position: absolute;
    top: 10%;
}
