<html>
    <head>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js'></script>
        <script src="http://159.203.127.128:5000/main.js"></script>
        <script src="http://159.203.127.128:5000/crud.js"></script>
		<link rel="stylesheet" type="text/css" href="http://159.203.127.128:5000/style">
    </head>
    <body>
		<div id="wrapper">
            <div id="side-window-container" class="side-window">
                <div id="help-window" class="side-window">
                    <h4>Field Information</h4>
                    <div id="help-window-text"></div>
                </div>
                <div id="save-file-window" class="side-window"><h4>Save current record</h4>
                    <div class="ui-element"><input type="button" id="playbill-submit" value="Save JSON" /></div>
                </div>
                <div id="load-file-window" class="side-window"><h4>Load a record by ID</h4>
                    <div class="ui-element"><input type="text" id="playbill-id" /></div>
                    <div class="ui-element"><input type="button" id="playbill-load" value="Load JSON" /></div>
                </div>
                </div>
            </div>
                <div id="playbill-form"></div>
		</div>
    </body>
</html>
