<!DOCTYPE html>
<html>
  <head>
    <script src="/functions.js"></script>
    <script src="/login.js"></script>
<link rel="stylesheet" type="text/css" href="/style.css">
<title>Login</title>
  </head>
  <body>
    <div id="navbar">
        <ul>
          <li><a class="nav-link" href="/home">Home</a></li>
          <li><a class="nav-link" href="/search">Search</a></li>
          <li><a class="nav-link current" href="/login">Login</a></li>
        </ul>
    </div>
    <div id="auth-window"><h3>User Authentication</h3>
        <div id="userid-window"><h4>User ID:</h4>
          <div class="ui-element"><input type="search" title="Enter user ID" id="user-id" /></div>
        <div class="ui-element"><input type="file" required id="user-load" title="Select file containing key" value="Load file" /></div>
        <div class="ui-element"><input type="button" id="login-button" value="Login &raquo;" /></div>
    </div>
  </body>
</html>
