<!DOCTYPE html>
<html>
  <head>
    <script src="/functions.js"></script>
    <script src="/newlogin.js"></script>
<link rel="stylesheet" type="text/css" href="/style.css">
<title>newLogin</title>
  </head>
  <body class="main">
    <div id="navbar">
        <ul>
          <li><a class="nav-link" href="/home">Home</a></li>
          <li><a class="nav-link" href="/search">Search</a></li>
<!--           <li><a class="nav-link" href="/login">Login</a></li> -->
          <li><a class="nav-link current" href="/newlogin">newLogin</a></li>
        </ul>
    </div>
    <div id="auth-window"><h3>User Authentication</h3>
        <p id="flash-text" value=""></p>
        <div id="userid-window">
          <div class="ui-element"><h4>Username:</h4><input type="text" title="Enter username" id="username" placeholder="username" /></div>
          <div class="ui-element"><h4>Password:</h4><input type="password" title="Enter password" id="password" placeholder="password" /></div>
        <div class="ui-element"><input type="button" id="newlogin-button" value="newLogin &raquo;" /></div>
      </div>
    </div>
  </body>
</html>
