<div id="navbar">
    <ul>
        <div>
            <li><a class="nav-link {% if request.url.endswith('home') %}current{% endif %}" href="/home">Home</a></li>
            <li><a class="nav-link {% if request.url.endswith('search') %}current{% endif %}" href="/search">Search</a></li>
            <li><a class="nav-link {% if request.url.endswith('projection') %}current{% endif %}" href="/projection">Projection</a></li>
            <!-- <li><a class="nav-link" id="mapping">Map</a></li> -->
            <div id="login">
                <li><a class="nav-link {% if request.url.endswith('login') %}current{% endif %} login" href="/login">Login</a></li>
            </div>
        </div>
        <div id="logout" style="position: absolute; right: 50px; display: none;">
            <li><a style="font-size: 12px" class="nav-link" href='/home' onclick='logout();'>Log Out</a></li>
        </div>
        <div id="signup" style="position: absolute; right: 130px; display: none;">
            <li><a style="font-size: 12px" class="nav-link {% if request.url.endswith('signup') %}current{% endif %}" href="/signup">Add New User</a></li>
        </div>
        <script type="text/javascript">
            displayLoginOption();
            function logout() {
                let url = '/tokens';
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                headers.append('X-Custom-Header', 'ProcessThisImmediately');
                headers.append('If-Match', localStorage._etag);
                fetch(url, {method:'DELETE',
                headers: headers,
                })
                .catch(error => console.error('There has been a problem with your fetch operation: ', error.message));
                localStorage.removeItem("token");
                localStorage.removeItem("_etag");
            }
        </script>
    </ul>
</div>
