<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js'></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
        {% include 'includes/configjs.html' %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
    </head>
    <body class="main">
        <div id="wrapper">
            {% include 'includes/navbar.html' %}
            <div id="side-window-container" class="side-window">
                <div id="help-window" class="side-window">
                    <h4>Field Information</h4>
                </div>
                <div id="help-window-text"></div>
                <div id="status-message-window" class="side-window"></div>
                <div id="reset-form-window" class="side-window">
                    <div id="reset-form-button" class="side-window ui-element"><input type="button" value="Reset Form" /></div>
                    <div id="reset-after-post" class="side-window ui-element"><input type="button" /></div>
                </div>
                <div id="save-file-window" class="side-window"><h4>Save current record</h4>
                    <div class="ui-element"><input type="button" id="playbill-submit" value="Save to database" /></div>
                    <div class="ui-element"><input type="button" id="playbill-save" value="Save to local file" /></div>
                </div>
                <div id="upload-file-window" class="side-window"><h4>Load a local record</h4>
                    <div class="ui-element"><input type="file" id="local-load" /></div>
                </div>
                <div id="load-file-window" class="side-window"><h4>Load a record by ID</h4>
                    <div class="ui-element"><input type="search" id="playbill-id" /></div>
                    <div class="ui-element"><input type="button" id="playbill-load" value="Load" /></div>
                </div>
            </div>
            <div id="playbill-form"></div>
    </body>
</html>
