<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js'></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
    </head>
    <body class="main">
        <div id="wrapper">
            <div id = "navbar">
                <ul>
                    <div>
                    <li><a class="nav-link current" href="/home">Home</a></li>
                    <li><a class="nav-link" href="/search">Search</a></li>
                    <li><a class="nav-link" href="/projection">Projection</a></li>
                    <li><a class="nav-link" id="mapping">Map</a></li>
                    <div id="login">
                    <li><a class="nav-link login" href="/login">Login</a></li>
                    </div>
                    <div id="logout">
                    <li><a class="nav-link" href='/home' onclick='logout();'>Log Out</a></li>
                    </div>
                    </div>
                    <div id="signup" style="position: absolute;right:50px;">
                    <li><a style="font-size: 12px" class="nav-link" href="/signup">Add New User</a></li>
                    </div>
                    <script type="text/javascript">
                        function logout() {
                            let url = '/tokens';
                            let headers = new Headers();
                            headers.append('Content-Type', 'application/json');
                            headers.append('X-Custom-Header', 'ProcessThisImmediately');
                            headers.append('If-Match', localStorage._etag);
                            fetch(url, {method:'DELETE',
                            headers: headers,
                            })
                            .catch(error => console.error('There has been a problem with your fetch operation: ', error.message));
                            localStorage.removeItem("token");
                            localStorage.removeItem("_etag");
                        }
                    </script>
                </ul>
            </div>
            <div id="side-window-container" class="side-window">
                <div id="help-window" class="side-window">
                    <h4>Field Information</h4>
                </div>
                <div id="help-window-text"></div>
                <div id="status-message-window" class="side-window"></div>
                <div id="reset-form-window" class="side-window">
                    <div id="reset-form-button" class="side-window ui-element"><input type="button" value="Reset Form" /></div>
                    <div id="reset-after-post" class="side-window ui-element"><input type="button" /></div>
                </div>
                <div id="upload-file-window" class="side-window"><h4>Upload a local record</h4>
                    <div class="ui-element"><input type="file" id="local-load" /></div>
                </div>
                <div id="save-file-window" class="side-window"><h4>Save current record</h4>
                    <div class="ui-element"><input type="button" id="playbill-submit" value="Save to database" /></div>
                    <div class="ui-element"><input type="button" id="playbill-save" value="Save to local file" /></div>
                </div>
                <div id="load-file-window" class="side-window"><h4>Load a record by ID</h4>
                    <div class="ui-element"><input type="search" id="playbill-id" /></div>
                    <div class="ui-element"><input type="button" id="playbill-load" value="Load" /></div>
                </div>
            </div>
            <div id="playbill-form"></div>
    </body>
</html>
