<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    {% include 'includes/configjs.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login</title>
  </head>
  <body class="main">

    {% include 'includes/navbar-simple.html' %}

    <div id="auth-window"><h3>User Authentication</h3>
        <p id="flash-text" value=""></p>
        <div id="userid-window">
          <div class="ui-element"><h4>Username:</h4><input type="text" title="Enter username" id="username" placeholder="username" /></div>
          <div class="ui-element"><h4>Password:</h4><input type="password" title="Enter password" id="password" placeholder="password" /></div>
        <div class="ui-element"><input type="button" id="newlogin-button" value="Login &raquo;" /></div>
      </div>
    </div>
  </body>
</html>
