<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
        integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
        crossorigin=""/>
        <!-- This must be AFTER Leaflet's CSS-->
        <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
        integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
        crossorigin=""></script>
        <script src="https://unpkg.com/esri-leaflet@2.1.0/dist/esri-leaflet.js"
        integrity="sha512-Tojl3UMd387f6DdAJlo+fKfJZiP55fYT+6Y58yKbHydnueOdSFOxrgLPuUxm7VW1szEt3hZVwv3V2sSUCuT35w=="
        crossorigin=""></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js'></script>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
        <!-- There cannot be a global div style in style.css or it will conflict with leaflet.js functionality -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Map</title>
    </head>
    <body>
		<div id="wrapper">
            <div id = "navbar">                                                 
                <ul>                                                            
                    <div>                                                       
                    <li><a class="nav-link current" href="/home">Home</a></li>  
                    <li><a class="nav-link" href="/search">Search</a></li>      
                    <li><a class="nav-link" href="/projection">Projection</a></li>
                    <!-- <li><a class="nav-link" id="mapping">Map</a></li> -->  
                    <div id="login">                                            
                    <li><a class="nav-link login" href="/login">Login</a></li>  
                    </div>                                                      
                    <div id="logout">                                           
                    <li><a class="nav-link" href='/home' onclick='logout();'>Log Out</a></li>
                    </div>                                                      
                    </div>                                                      
                    <div id="signup" style="position: absolute;right:50px;">    
                    <li><a style="font-size: 12px" class="nav-link" href="/signup">Add New User</a></li>
                    </div>                                                      
                    <script type="text/javascript">                             
                        function logout() {                                     
                            let url = '/tokens';                                
                            let headers = new Headers();                        
                            headers.append('Content-Type', 'application/json'); 
                            headers.append('X-Custom-Header', 'ProcessThisImmediately');
                            headers.append('If-Match', localStorage._etag);     
                            fetch(url, {method:'DELETE',                        
                            headers: headers,                                   
                            })                                                  
                            .catch(error => console.error('There has been a problem with your fetch operation: ', error.message));
                            localStorage.removeItem("token");                   
                            localStorage.removeItem("_etag");                   
                        }                                                       
                    </script>                                                   
                </ul>                                                           
            </div>                                                    

            <div id="side-window-container" class="side-window">
                <div id="search-preview"></div>
            </div>
            <div id="search-map" style="width: 50vw; height: 75vh;"></div>
        </div>
    </body>
