<html>

  <head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.min.js"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/projection.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Projection</title>
  </head>

  <body class="main">
    <div id="wrapper">

      {% include 'includes/navbar.html' %}

      <div id="side-window-container" class="side-window">
        
        <div id="help-window" class="side-window">
          <h4>Projection</h4>
        </div>
        <div id="search-window" class="side-window">
          <div class="ui-element"><input type="button" id="project-button" value="Project" /></div>
          
        </div>
        
        <div id="clear-window" class="side-window">
          <h4>Clear</h4>
          <div class="ui-element"><input type="button" id="clear-search" value="Reset" /></div>
        </div>
      </div>

      <div id="nav-pages-window-top" class="side-window nav-pages-window">
        <div class="nav-pages-wrapper" style="display: none;">
          <input type="button" title="Previous page" id="prev-page-top" class="prev-page" value="&laquo; Previous" />
          <input type="button" title="Next page" id="next-page-top" class="next-page" value="Next &raquo;" />
        </div>
      </div>
      <div id="search-results"></div>
      <div id="nav-pages-window-bottom" class="side-window nav-pages-window">
        <div class="nav-pages-wrapper" style="display: none;">
          <input type="button" title="Previous page" id="prev-page-bottom" class="prev-page" value="&laquo; Previous" />
          <input type="button" title="Next page" id="next-page-bottom" class="next-page" value="Next &raquo;" />
        </div>
      </div>

      <div id="playbill-form"> </div>

    </div>
  </body>

</html>
