<html>

  <head>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js'></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    {% include 'includes/configjs.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Search</title>
  </head>

  <body class="main">
    <div id="wrapper">

      {% include 'includes/navbar.html' %}

      <div id="side-window-container" class="side-window">
        
        <div id="help-window" class="side-window">
          <h4>Search</h4>
        </div>
        <div id="search-window" class="side-window">
          <!-- <div class="ui-element"><input type="search" id="search-term" /></div> -->
          <div class="ui-element"><input type="button" id="search-button" value="Search" /></div> 
        </div>
        
        <div id="clear-window" class="side-window">
          <h4>Clear Search</h4>
          <div class="ui-element"><input type="button" id="clear-search" value="Reset" /></div>
        </div>
      </div>

      <div id="playbill-form"> </div>
    </div>

  </body>
</html>
