<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<title>Sign Up</title>
  </head>
  <body class="main">

    {% include 'includes/navbar.html' %}

    <div id="auth-window"><h2>Create a new account</h2>
        <p id="flash-text" value=""></p>
        <div id="userid-window">
          <div class="ui-element"><h4>Username:</h4><input type="text" title="Enter username" id="username" placeholder="username" /></div>
          <div class="ui-element"><h4>Password:</h4><input type="password" title="Enter password" id="password" placeholder="password" /></div>
          <div class="ui-element"><h4>Confirm Password:</h4><input type="password" title="Enter password" id="confirm_password" placeholder="confirm password" /></div>
        <div class="ui-element"><input type="button" id="signup-button" value="Sign Up &raquo;" /></div>

  </body>
</html>
